*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#appWrapperVert{
    display: flex;
    justify-content: center;
}

#appWrapperHor{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

.addMovieForm{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: fit-content;
    height: fit-content;
    
   /*  width: 150px; */
}

.addMovieForm, .movieCard{
    border: 2px solid black;
    border-radius: 12px;   
    padding: 15px;
    box-shadow: 5px 5px 5px black;
    margin: 10px;
}

.addMovieVertContainer{
    display: flex;
    flex: 1;
    padding: 5px;
    height: fit-content;
    justify-content: flex-start;
    /* width: 400px; */
}

.addMovieDescriptionContainer{
    display: flex;
    padding: 5px;
}

label{
    width: 100px;
    height: fit-content;
}

.inputField{
    width: 200px;
    height: fit-content;
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
}

.movieList{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#sortByContainer{
    padding-left: 15px;
    padding-bottom: 10px;
    align-self: center;
}

.movieCardList{
    display: flex;
}

.movieCard{
    display: flex;
    flex-direction: column;
    flex: 1;
    width: fit-content;
    
}

.movieCardTitle{
    display: flex;
    justify-content: space-between;
}

.movieCardGenre{
    display: flex;
    justify-content: flex-end;
}

.movieCardDescription{
    font-size: smaller;
}

.movieCardImg{
    width: 200px;
}