*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#appWrapper{
    display: flex;
    flex-direction: column;
    width: 200px;
}

.addMovieForm{
    display: flex;
    flex-direction: column;
    flex: 1;
   /*  width: 150px; */
}

.buttonContainer{
    display: flex;
    justify-content: space-between;
}

.movieCard{
    display: flex;
    flex-direction: column;
    flex: 1;
}



.movieCardTitle{
    display: flex;
    justify-content: space-between;
}

.movieCardGenre{
    display: flex;
    justify-content: flex-end;
}

.movieCardDescription{
    font-size: smaller;
}